/****** Script for SelectTopNRows command from SSMS  ******/
SELECT ERROR_TYPE, ERROR_MESSAGE, CONVERT(DATE, DATE_OCCURRED) AS date FROM [MICT_ELCM].[dbo].[FMDS_ERRORS]  where DATE_OCCURRED between '2017-01-01 15:13:51.0870000' AND '2018-01-01 17:05:29.8470000' ORDER BY DATE_OCCURRED