SELECT COUNT(WO_DESCR) AS TOTAL, TRIM(WO_DESCR) AS WO_DESCR, TRIM(MAX(WO_WORKTYPE)) AS WO_WORKTYPE FROM
(SELECT * FROM dbo.MAXIMO_WORKORDERS WHERE WO_WORKTYPE = 'CM10') A GROUP BY WO_DESCR ORDER BY TOTAL DESC

SELECT TOP(1) COUNT(WO_DESCR) AS TOTAL, TRIM(WO_DESCR) AS WO_DESCR, TRIM(MAX(WO_WORKTYPE)) AS WO_WORKTYPE FROM  (SELECT * FROM dbo.MAXIMO_WORKORDERS WHERE WO_WORKTYPE = 'CM10') A GROUP BY WO_DESCR ORDER BY TOTAL DESC