/****** Script for SelectTopNRows command from SSMS  ******/
SELECT COUNT(WO_DESCR) AS TOTAL, WO_DESCR, MAX(WO_WORKTYPE) AS WO_WORKTYPE FROM
(SELECT * FROM dbo.MAXIMO_WORKORDERS WHERE WO_WORKTYPE = 'CM10') A GROUP BY WO_DESCR ORDER BY TOTAL DESC


SELECT * FROM dbo.MAXIMO_WORKORDERS WHERE WO_WORKTYPE = 'CM10'

SELECT * FROM dbo.MAXIMO_WORKORDERS WHERE WO_WORKTYPE = 'CM10' AND WO_DESCR = 'Hydraulic System - System Pressure Low' ORDER BY WO_REPORTDATE DESC



SELECT * FROM dbo.FMDS_EVENTS_2018 WHERE DEVICE_ID = 'AGV538' AND DATE_EVENT < '2018-06-20 12:00:00.0000000' AND DATE_EVENT > '2018-06-15 00:00:00.0000000' ORDER BY DATE_EVENT DESC

SELECT * FROM dbo.FMDS_ERRORS WHERE DEVICE = 'AGV538' AND DATE_OCCURRED < '2018-06-20 12:00:00.0000000' AND DATE_OCCURRED > '2018-06-15 00:00:00.0000000' ORDER BY DATE_OCCURRED DESC